<p style="color: green"><%= notice %></p>

<%= render @semester %>

<p>
  <strong>sections:</strong>
  <% @semester.sections.each do |section| %>
<li>
    <%= section.course.name %>
    <%= section.CRN %>
    <%= section.semester.semester %>
    <%= section.semester.year %>

</li>
 <% end %>
</p>

<div>
  <%= link_to "Edit this semester", edit_semester_path(@semester) %> |
  <%= link_to "Back to semesters", semesters_path %>

  <%= button_to "Destroy this semester", @semester, method: :delete %>
</div>
