<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Name, style: "display: block" %>
    <%= form.text_field :Name %>
  </div>

  <div>
    <%= form.label :t900Number, style: "display: block" %>
    <%= form.number_field :t900Number %>
  </div>

  <div>
    <%= form.label :Email, style: "display: block" %>
    <%= form.text_field :Email %>
  </div>

  <div>
    <%= form.label :PhoneNumber, style: "display: block" %>
    <%= form.text_field :PhoneNumber %>
  </div>

  <div>
    <%= form.label :Address, style: "display: block" %>
    <%= form.text_field :Address %>
  </div>


   <div>
   <%= form.label :section_id %><br>
   <%= form.collection_check_boxes(:section_ids, @sections, :id, :CRN) %>
   </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
