<p style="color: green"><%= notice %></p>

<%= render @course %>

<p>
  <strong>sections:</strong>
  <% @course.sections.each do |section| %>
<li>
    <%= section.course.name %>
    <%= section.CRN %>
    <%= section.semester.semester %>
    <%= section.semester.year %>

</li>
  <% end %>
</p>


<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>

  <%= button_to "Destroy this course", @course, method: :delete %>
</div>
